#header{
    background:#563d7c;
    height: auto;
}

#header .admin__text{
    font-size:1.1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color:#fff;
    display: flex;
    padding-left:1rem;
}
#header .box__admin{
    width:200px;
    display: flex;
    align-items: center;
}
#wrapper{
    position:relative;
    width:100%; 
}

#wrapper #sidebar{
    display:flex;
    flex-direction: column;
    width:15%;
    position:fixed;
    top:0;
    left:0;
    height:100%;
    background: linear-gradient(120deg, #000,#333);
    transition: .5s;
    /* opacity: .7; */
}

#wrapper #sidebar .sidebar__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom:2px groove #fff;
}

#wrapper #sidebar .sidebar__list{
    list-style: none;
    margin:0;
}

#wrapper #sidebar .sidebar__list .sidebar__item{
    padding:0.3rem 0;
    /* border:1px solid red; */
}
#wrapper #sidebar .sidebar__list .nav-link:hover{color:#f5f5f5;transform: translateX(12px);}
#wrapper #sidebar .sidebar__list .nav-link{
    color:#fff;
    transition:.2s;
    text-transform: uppercase;
    font-size:1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

#wrapper #content{
    position:relative;
    width:80%;
    display: block;
    margin:auto 0 auto auto;
}

#content .stock .admin__product {
    display: flex;
    align-items:center;
    justify-content: center;
}

#content .admin__describe .admin__product__title{
    font-size:2rem;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    padding-bottom:1rem;
}

#content .admin__describe .admin__price__product{
    font-weight: bold;
    color:rgb(6, 122, 113);
    font-size:1rem;
    display: block;
    font-family: 'Lato', sans-serif;
    margin:5px 0;
}
.admin__text__estoque{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size:1rem;
    margin:0.5rem 0;
    text-transform: uppercase;
}
/* 
#wrapper #content .stock{
    border:1px solid blue;
} */